.admin-center {

    .box {
        width: 30*$r;
        padding: 1*$r 2*$r 1.5*$r 2*$r;
        border-radius: .25*$r;
        height: 360px;
    }

    .admin-form {
        background: $color-white;
        border: 1px solid darken($color-gray, 5%);
        animation: fadeInScale .33s;
    }

    .admin-sending {
        background: $color-green;
        color: $color-white;
        text-align: center;
    }

    .createMessageForm {
        position: relative;
    }

    h2, h3, select {
        margin-bottom: 1.5*$r;
    }

    textarea {
        margin-bottom: .75*$r;
    }

    label {
        margin-bottom: .5*$r;
    }

    option {
        -webkit-appearance: none;
    }

    .dropDownContainer {
        display: inline-block;
        width: 48%;
        &:first-of-type {
            margin-right: 16px;
        }
    }

    .btn i {
        margin-right: .33*$r;
    }

    .character-count {
        position: absolute;
        margin-top: -39px;
        right: 0px;
        font-size: 12px;
        text-align: right;
        color: lighten($color-black, 66%);
    }

    .logged-in {
        position: absolute;
        top: 1.5*$r;
        right: 2*$r;

        .avatar {
            display: inline-block;
            height: 1.25*$r;
            width: 1.25*$r;
            border-radius: 1.25*$r/2;
            background: url(https://dl.dropboxusercontent.com/u/228089/avatar.png);
            background-size: 1.25*$r;
            margin-right: .33*$r;
        }

        a {
            display: inline-block;
            vertical-align: text-bottom;
        }

        i {
            font-size: .66*$r;
            opacity: .5;
        }
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
