@import 'globals';
@import 'admin-center';

html, body {
  margin: 0;
  height: 100%;
  font-family: citrixsans-regular;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-gray;
}
